:root {
  --color-primary: #00aff5;
  --color-text: #054752;
  --color-primary-hover: #008fc1;
}

body {
  color: var(--color-text);
}

button {
  background-color: var(--color-primary);
  color: white;
  font-weight: 500;
  padding: 8px 24px;
  border-radius: 48px;
  border: none;
}

button:hover {
  cursor: pointer;
  background-color: var(--color-primary-hover);
}