.trip-container {
  border: 1px solid;
  padding: 24px;
  border-radius: 8px;
}

.trip-container:last-child {
  margin-bottom: 0;
}

.trip-container:hover {
  background-color: palegoldenrod;
  cursor: pointer;
}
